
<div class="col l3 s12">
  <%=image_tag 'logo.png'%>
</div>

<div class="col l6 s12">
  <h5 class="white-text">Company Bio</h5>
  <p class="grey-text text-lighten-4"></p>
</div>
<div class="col l3 s12">
  <h5 class="white-text">Connect</h5>
  <ul>

  </ul>
</div>
